server:
  port: 8081

# All these values are read from the environment variables
# passed into the user-service container from docker-compose
spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: user_schema
  security:
    basic:
      enabled: false

jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration-ms: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus