apiVersion: v1
kind: Secret
metadata:
  name: ecommerce-secrets
type: Opaque
stringData:
  POSTGRES_USER: cG9zdGdyZXM=
  POSTGRES_PASSWORD: TW9zZUAxOTg=
  POSTGRES_DB: ZWNvbW1lcmNlX2Ri
  JWT_SECRET_KEY: bXktc3VwZXItc2VjcmV0LWxvY2FsLXRlc3Rpbmcta2V5LXdoYWxwLWhhCg==
