apiVersion: v1
kind: Secret
metadata:
  name: ecommerce-secrets
  namespace: ecommerce
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: Mose@198
  POSTGRES_DB: ecommerce_db
  JWT_SECRET_KEY: bXktc3VwZXItc2VjcmV0LWxvY2FsLXRlc3Rpbmcta2V5LXdoYWxwLWhhCg==
