server:
  port: 8761
spring:
  application:
    name: eureka-server
eureka:
  client:
    register-with-eureka: false # Don't register itself
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8761/eureka/