server:
  port: 8888
spring:
  application:
    name: config-server
  profiles:
    active: native # Read from local filesystem
spring.cloud.config.server.native:
  search-locations: classpath:/config/ # Look in the 'config' folder
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}